<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phi Mu Laundry</title>
</head>
<body>
  <nav>
    <a href="#machines">Machines</a>
  </nav>
  <form>
    <select name="machine">
      <label> <input type="checkbox" name="machines" value="Right Washer"></label>
      <label> <input type="checkbox" name="machines" value="Center Washer"></label>
      <label> <input type="checkbox" name="machines" value="Left Washer"></label>
      <label> <input type="checkbox" name="machines" value="Left Dryer"></label>
      <label> <input type="checkbox" name="machines" value="Right Dryer"></label>
    </select>
  </form>


</body>
</html>